{% extends 'base.html' %}
{% block title %}Placements{% endblock %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'static/css/delete.css' %">
</head>
<br>
<h1>Placements</h1>
<br>
<a class="btn btn-light" href="{% url 'student:addPlacement' %}" role="button">Add Placements</a>
<br>
<!--View Placement Details-->
<h6>{{error_message}}</h6><br>
<h2>Placement Details: </h2>
<br>
<h4>Course Count: {{ countPlacements }}</h4>
<br>
{% for i in allPlacements %}
<div class="card text-center">
  <div class="card-header">
    Name of the Company: {{ i.companyName }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Placed in Year: {{ i.yearPlaced }}</h5>
    <p class="card-text">Domain: {{ i.domain }}</p>
    <h5 class="card-title">Role: {{ i.role }}</h5>
      <p class="card-text">CTC: {{ i.ctc }}</p>

    <td><a href="{% url 'student:delete_items' i.id 'placement' %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
  </div>
</div>
<br>
{% endfor %}
{% endblock %}