{% extends 'base.html' %}
{% block title %}WCE Short Term Training Programme{% endblock %}

{% block content %}
<br><h1>WCE Short Term Training Programme</h1><br>
<!--Add a WCE STTPs-->
<a class="btn btn-light" href="{% url 'teacher:addWCESttp' %}" role="button">Add an STTP</a><br>
<!--View All WCE STTPs-->
<br>
<h2>Your WCE STTPs: </h2>
<br>
<h4>WCE STTP Count: {{ countWCESttps }}</h4>
<br><br>
{% for i in allWCESttps %}
<div class="card text-center">
  <div class="card-header">
    <h4>Name: {{ i.name }}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Domain: {{ i.domain }}</p>
    <h5 class="card-title">Organized by: {{ i.organizer }}</h5>
    <p class="card-text">Location: {{ i.location }}</p>
    <p class="card-text">
    {% if i.mode == True %}
    Mode: Online
    {% endif %}
    {% if i.mode == False %}
    Mode: Offline
    {% endif %}
    </p>
    <p class="card-text">Role: {{ i.role }}</p>
    <p class="card-text">Number of Participants: {{ i.numberOfParticipants }}</p>
    {% if i.certification != "NA" %}
    <a href="{{i.certification}}" class="btn btn-primary">Download Certificate</a>
    {% endif %}
  </div>
   <td><a href="{% url 'teacher:delete_items' i.id 'Sttps' %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
  <br>
  <div class="card-footer text-muted">
            {{ i.startDate.day }}/{{ i.startDate.month }}/{{ i.startDate.year }} - {{ i.endDate.day }}/{{i.endDate.month}}/{{i.endDate.year}}

  </div>
</div>
<br>
{% endfor %}
{% endblock %}