{% extends 'base.html' %}
{% block title %}Faculty Development Programme{% endblock %}
{% load static %}
{% block content %}
<br><h1>Webinars</h1><br>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!--<div class="form-group">
              <input type="hidden" name="year2" value="{{year}}"/>
          </div>-->
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Download CSV</button>
              </div>
          </div>
      </form>
    {% if option %}
        <h3>Count of Webinars organized by {{user.first_name}} {{user.last_name}} in year {{year}}: {{ countOrWebis }}</h3>

        <table class="table table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col">Topic</th>
                <th scope="col">Faculty Name</th>
                  <th scope="col">Role</th>
                <th scope="col">Domain</th>
                <th scope="col">Organized/Delivered by</th>
                  <th scope="col">Number of Participants</th>
                  <th scope="col">Mode</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Certification</th>
              </tr>
            </thead>
            <tbody>
                {% for i in allOrWebis %}
                <tr class="table-primary">
                    <td>{{ i.name }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.role }}</td>
                    <td>{{ i.domain }}</td>
                    <td>{{ i.organizer }}</td>
                    <td>{{ i.numberOfParticipants }}</td>
                    <td>
                        {% if i.mode %}
                            Online
                        {% else %}
                            Offline
                        {% endif %}
                    </td>
                    <td>{{ i.startDate.date }}</td>
                    <td>{{ i.endDate.date }}</td>
                    {% if i.certification != "NA" %}
                        <td><a href="{{i.certification}}">Download</a></td>
                            {% else %}
                            <td><p>None</p></td>
                        {% endif %}

                </tr>
            </tbody>
        </table>
                <br>
                {% endfor %}
        {% else %}
        <h3>Count of Webinars attended by {{user.first_name}} {{user.last_name}} in year {{year}}: {{ countAtWebis }}</h3>
        <table class="table table-borderless">
            <thead>
              <tr class="table-info">
                <th scope="col">Topic</th>
                <th scope="col">Faculty Name</th>
                  <th scope="col">Role</th>
                <th scope="col">Domain</th>
                <th scope="col">Organized/Delivered by</th>
                  <th scope="col">Mode</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Certification</th>
              </tr>
            </thead>
            <tbody>
                {% for i in allAtWebis %}
                <tr class="table-primary">
                    <td>{{ i.name }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.role }}</td>
                    <td>{{ i.domain }}</td>
                    <td>{{ i.organizer }}</td>
                    <td>
                        {% if i.mode %}
                            Online
                        {% else %}
                            Offline
                        {% endif %}
                    </td>
                    <td>{{ i.startDate.date }}</td>
                    <td>{{ i.endDate.date }}</td>
                    <td>{% if i.certification != "NA" %}
                        <a href="{{i.certification}}">Download</a>
                    {% endif %}</td>

                </tr>
            </tbody>
        </table>
                <br>
                {% endfor %}
    {% endif %}
{% endblock %}