{% extends 'base.html' %}
{% block title %}MOOCs{% endblock %}
{% load static %}
{% block content %}
<br><h1>Completed MOOCs</h1><br>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!--<div class="form-group">
              <input type="hidden" name="year2" value="{{year}}"/>
          </div>-->
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Download CSV</button>
              </div>
          </div>
      </form>

        <h4>Count of MOOCs completed by {{user.first_name}} {{user.last_name}} in year {{year}}: {{ countcomCourses }}</h4>
        <table class="table table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col">Course Name</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">Domain</th>
                <th scope="col">Platform</th>
                  <th scope="col">Duration</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Certification</th>
              </tr>
            </thead>
            <tbody>
                {% for i in allcomCourses %}
                <tr class="table-primary">
                    <td>{{ i.name }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.domain }}</td>
                    <td>{{ i.platform }}</td>
                    <td>{{ i.durationweeks }} weeks</td>
                    <td>{{ i.endDate.date }}</td>
                    <td>{% if i.certification != "NA" %}
                        <a href="{{i.certification}}">Download</a>
                    {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
            <br>
{% endblock %}