{% extends 'base.html' %}
{% block title %}Faculty Development Programme{% endblock %}
{% load static %}
{% block content %}
<br><h1>Guest Lectures</h1><br>

<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!--<div class="form-group">
              <input type="hidden" name="year2" value="{{year}}"/>
          </div>-->
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Download CSV</button>
              </div>
          </div>
      </form>
        <h3>Count of Guest Lectures organized by {{user.first_name}} {{user.last_name}} in year {{year}}: {{ countGLs }}</h3>

        <table class="table table-bordered">
            <thead>
              <tr class="table-info">
                <th scope="col">Topic</th>
                <th scope="col">Faculty Name</th>
                <th scope="col">Domain</th>
                <th scope="col">Resource Person</th>
                  <th scope="col">Resource Person Profession</th>
                  <th scope="col">Beneficiaries</th>
                  <th scope="col">Number Of Participants</th>
                  <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
                {% for i in allGLs %}
                <tr class="table-primary">
                    <td>{{ i.topic }}</td>
                    <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                    <td>{{ i.domain }}</td>
                    <td>{{ i.resourcepersonname }}</td>
                    <td>{{ i.resourcepersonprofession }}</td>
                    <td>{{ i.beneficiaries }}</td>
                    <td>{{ i.numberOfParticipants }}</td>
                    <td>{{ i.date.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
            <br>

{% endblock %}