{% extends 'base.html' %}
{% block title %}Add Faculty{% endblock %}
{% load static %}
{% block content %}
<br>
    <br>
<h1>Add Faculty</h1>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <br>
    <div class="form-group">
        <label class="control-label col-sm-2" for="uploadcsv">
            Upload Faculty CSV:
        </label>
        <div class="col-sm-10">
            <input id="uploadcsv" name="uploadcsv" type="file" class="form-control" required>
        </div>
    </div>
    <br>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" id="sub">Add Faculty</button>
        </div>
    </div>
    <br>
    <br>
    {% if cantBeAdded %}
    <h3>Following Faculty Could Not Be Added</h3>
    <br>
    <table class="table table-borderless">
        <thead>
          <tr class="table-info">
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
            {% for i in cantBeAdded %}
            <tr class="table-primary">
                <td>{{ i }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
    {% endif %}
</form>
<script src="{% static '/js/paper.js' %}"></script>
<script src="{% static '/js/comp.js' %}"></script>
<script src="{% static '/js/only_semester.js' %}"></script>
{% endblock %}