{% extends 'base.html' %}
{% block title %}Workshops{% endblock %}

{% block content %}
<br><h1>Workshops</h1><br>
<!--Add a Workshop-->
<a class="btn btn-light" href="{% url 'teacher:addWorkshop' %}" role="button">Add a Workshop</a><br>
<!--View All Workshops-->
<br>
<h2>Your Workshops: </h2>
<br>
<h4>Workshop Count: {{ countWorkshops }}</h4>
<br>
{% for i in allWorkshops %}
<div class="card text-center">
  <div class="card-header">
    <h4>Name: {{ i.name }}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Domain: {{ i.domain }}</p>
    <h5 class="card-title">Organized by: {{ i.organizer }}</h5>
    <p class="card-text">Location: {{ i.location }}</p>
    <p class="card-text">
    {% if i.mode == True %}
    Mode: Online
    {% endif %}
    {% if i.mode == False %}
    Mode: Offline
    {% endif %}
    </p>
    {% if i.inorout %}
        <h5 class="card-title">In WCE</h5>
      {% else %}
        <h5 class="card-title">Outside WCE</h5>
      {% endif %}
    {% if i.certification != "NA" %}
    <a href="{{i.certification}}" class="btn btn-primary">Download Certificate</a>
    {% endif %}
  </div>
    <td><a href="{% url 'teacher:delete_itemsIO' i.id 'workshops' %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
<br>
  <div class="card-footer text-muted">
        {{ i.startDate.day }}/{{ i.startDate.month }}/{{ i.startDate.year }} - {{ i.endDate.day }}/{{i.endDate.month}}/{{i.endDate.year}}

  </div>
</div>
<br>
{% endfor %}
{% endblock %}