{% extends 'base.html' %}
{% block title %}Graduated Students{% endblock %}
{% load static %}
{% block content %}
<br><h1>Graduated Students</h1><br>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}<br>
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="yearOfEnrollment">
            Year Of Enrollment:&nbsp&nbsp&nbsp
        </label>
        <select name="yearOfEnrollment" id="ddlYears"></select>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="yearOfGraduation">
            Year Of Graduation:&nbsp&nbsp&nbsp
        </label>
        <select name="yearOfGraduation" id="ddlYears2"></select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>

<br>
<br>
<script src="{% static '/js/paper.js' %}"></script>
{% endblock %}